/* Atomic Components Customization */
atomic-facet-v1[field="workdepartment"] {
  --atomic-facet-boxes-per-row: 2;
}

atomic-breadbox::part(label) {
  padding-left: 0;
}

/* V1 temp customization */
atomic-query-summary::part(no-results) {
  display: none;
}
