/* Atomic Mobile-First Layout */
main {
  margin: var(--gap-x) 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "search-box"
    "breadbox  "
    "topbar    "
    "results   "
    "pagination"
    "status    "
    ".         ";
}

.mobile-search-box {
  grid-area: search-box;
  margin-bottom: var(--gap-y);
}

.facets {
  grid-area: facets;
  display: none;
}

.breadbox {
  margin-bottom: var(--gap-y);
  grid-area: breadbox;
}

.topbar {
  grid-area: topbar;
  margin-bottom: var(--gap-y);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results {
  grid-area: results;
}

.pagination {
  grid-area: pagination;
}

.status {
  grid-area: status;
}

.atomic-modal-opened {
  overflow: hidden;
}

atomic-sort-dropdown {
  display: none;
}

atomic-facet-manager > * {
  margin-bottom: var(--gap-y);
}

.search-box {
  width: 300px;
  display: none;
}

@media only screen and (min-width: 1024px) {
  main {
    column-gap: var(--gap-x);
    grid-template-columns: 1fr 300px minmax(500px, 1100px) 1fr;
    grid-template-areas:
      ". facets breadbox    ."
      ". facets topbar      ."
      ". facets results     ."
      ". facets pagination  ."
      ". facets status      ."
      ". facets .           .";
  }

  .facets,
  .search-box {
    display: block;
  }

  .mobile-search-box {
    display: none;
  }

  atomic-sort-dropdown {
    display: block;
  }

  atomic-refine-toggle {
    display: none;
  }
}
